
{% extends '::base.html.twig' %}

{% block title %}TweetPo.st | A smarter way to connect Twitter and Facebook{% endblock %}

{% block body %}

    <section id="bd-example" class="yui3-u-1 shadow rounded">
        <h1>Oops! That page could not be found.</h1>
    </section>


{% endblock %}
