
{% extends '::base.html.twig' %}

{% block title %}TweetPo.st | A smarter way to connect Twitter and Facebook{% endblock %}

{% block body %}

    <section class="yui3-u-1">
        <h1>Oops! An Error Occurred</h1>
        <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

        <div>
            Something is broken. Please e-mail us at support@tweetpo.st and let us know
            what you were doing when this error occurred. We will fix it as soon
            as possible.
        </div>
    </section>


{% endblock %}
