{% extends 'SnowballFactoryTweetpostBundle::layout.html.twig' %}

{% block title %}TweetPo.st | Admin Dashboard{% endblock %}

{% block body %}

    <section id="bd-admin" class="yui3-u-1">

        <section id="bd-admin-stats">
            <h3>Overview</h3>
            <ul>
                <li>Total facebook users: {{ usersCount }}</li>
                <li>Total twitter users: {{ twitterUsersCount }}</li>
                <li>Total jobs in queue: {{ jobsCount }}</li>
            </ul>
        </section

        <section id="bd-admin-recent-users">
            <h3>Recent Users</h3>
            <ul>
            {% for user in recentUsers %}
                <li>{{ user.username }} - {{ user.lastLogin|date('n/d/Y @ g:ia') }}</li>
            {% else %}
                <li>No users have logged in recently.</li>
            {% endfor %}
            </ul>
        </section>
    </section>

{% endblock %}
