<!DOCTYPE html>
<html id="tweetpost" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}TweetPo.st | A smarter way to connect Twitter and Facebook{% endblock %}</title>
    		<meta name="description" content="TweetPo.st | A smarter way to connect Twitter and Facebook" />
    		<meta name="keywords" content="tweetpost, tweetpo.st, twitter, facebook, tweet, post, update, awesm, snowball factory, share, social" />
    		<meta name="copyright" content="Copyright 2009 - {{ 'now'|date('Y') }}, Snowball Factory. All rights reserved." />
    		<meta name="author" content="Snowball Factory" />
    		<meta name="robots" content="index, follow, archive, all" />
            <meta property="og:title" content="TweetPo.st | A smarter way to connect Twitter and Facebook" />
            <meta property="og:description" content="TweetPo.st | A smarter way to connect Twitter and Facebook"/>
            <meta property="og:site_name" content="TweetPo.st" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="{{ url('tweetpost_homepage') }}" />
            <meta property="og:image" content="{{ url('tweetpost_homepage') }}static/bundles/snowballfactorytweetpost/images/tweetpost_logo.png" />
            <meta property="fb:admins" content="711326045" />
            <meta property="fb:app_id" content="4ca7862167d910e4f8ca60aeeb70acc5" />
            {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?3.5.0pr2/build/cssfonts/fonts-min.css&amp;3.5.0pr2/build/cssreset/reset-min.css&amp;3.5.0pr2/build/cssgrids/grids-min.css&amp;3.5.0pr2/build/cssbase/base-min.css" media="all" />
            {% stylesheets '@SnowballFactoryTweetpostBundle/Resources/public/css/common.css' filter='?yui_css' output="css/tweetpost.css" %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="all" />
            {% endstylesheets %}
            {% endblock %}
            <link rel="shortcut icon" href="{{ asset('bundles/snowballfactorytweetpost/images/favicon.ico') }}" />
            <link rel="apple-touch-icon" href="{{ asset('bundles/snowballfactorytweetpost/images/apple_touch_icon.png') }}" />
            <link rel="canonical" href="{{ url('tweetpost_homepage') }}" />
            <base href="{{ url('tweetpost_homepage') }}" target="_self" />
    </head>
    <body id="tweetpost-body" class="yui3-skin-sam">
        <div id="tweetpost-content">
            <header id="hd" class="yui3-g">
                <section id="splash" class="yui3-u-3-4">
                    <h1><a href="{{ path('tweetpost_homepage') }}" title="TweetPost"><img src="{{ asset('bundles/snowballfactorytweetpost/images/tweetpost_logo.png') }}" alt="TweetPost" width="120" height="120" /></a></h1>
                    {% if is_granted("ROLE_FACEBOOK") %}
                        <nav>
                            <ul>
                                <li class="{% if app.request.attributes.get('_route') == 'tweetpost_homepage' %}selected{% endif %}"><a href="{{ path('tweetpost_homepage') }}" title="Home" class="home">Home</a></li>
                                <li class="{% if app.request.attributes.get('_route') == 'tweetpost_connection_dashboard' %}selected{% endif %}"><a href="{{ path('tweetpost_connection_dashboard') }}" title="Connections Dashboard">Dashboard</a></li>
                                {% if is_granted("ROLE_ADMIN") %}
                                    <li class="{% if app.request.attributes.get('_route') == 'tweetpost_admin_dashboard' %}selected{% endif %}"><a href="{{ path('tweetpost_admin_dashboard') }}" title="Admin Dashboard">Admin</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% else %}
                        <h2>A smarter way to update Facebook from Twitter</h2>
                    {% endif %}
                </section>
                <section id="authentication" class="yui3-u-1-4">
                    <ul>
                        {% if is_granted("ROLE_FACEBOOK") %}
                            <li id="fb-user-profile-pic"><a href="{{ path('tweetpost_user_profile', { 'username': app.user.username }) }}" title="{{ app.user.username }}"><img src="https://graph.facebook.com/{{ app.user.username }}/picture" alt="{{ app.user.username }}" height="36" width="36" /></a></li>
                            <li id="user-logout"><a href="{{ path('tweetpost_user_logout') }}" title="Logout of TweetPo.st" class="black">Logout</a><li>
                        {% else %}
                            <li id="fb-login">{{ facebook_login_button({ 'autologoutlink': false }) }}<li>
                        {% endif %}
                    </ul>
                </section>

                {% if app.session.flashbag.has('notification') %}
                    <section id="notifications" class="yui3-u-1 rounded shadow"><h3>{{ app.session.flashbag.get('notification').0 }}</h3></section>
                {% endif %}
            </header>

            <section id="bd" class="yui3-g">
                {% block body %} ... {% endblock %}
            </section>

            <footer id="ft" class="yui3-g">
                <div class="yui3-u-1">
                    <section id="social">
                        <ul>
                            <li id="tw-follow"><a href="http://twitter.com/tweet_post" title="Follow @tweet_post on Twitter" target="_blank"><img src="{{ asset('bundles/snowballfactorytweetpost/images/twitter_follow_us_badge.png') }}" alt="Follow @tweet_post on Twitter" width="160" height="27" /></a></li>
                            <li id="tw-tweet"><a href="http://twitter.com/share?awesm:key={{ _awesm_key }}&amp;url=http%3A%2F%2Ftweetpo.st&amp;via=tweetpost" title="Tweet" class="twitter-share-button" data-count="horizontal" data-via="tweet_post" data-lang="en">Tweet</a></li>
                            <li id="fb-like"><fb:like href="{{ url('tweetpost_homepage') }}" send="false" layout="button_count" width="100" show_faces="true" ref="tweetpost_footer"></fb:like></li>
                            <!--
                            <script src="http://widgets.fbshare.me/files/fbshare.js"></script>
                            <script>var fbShare = { url: 'http://tweetpo.st/', size: 'large', badge_text: 'C0C0C0', badge_color: 'CC00FF', google_analytics: 'true' }</script>
                            -->
                        </ul>
                    </section>
                    <nav>
                        <ul>
                            <li><a href="http://totally.awe.sm/about" title="About Snowball Factory" target="_blank" rel="author">About</a></li>
                            <li><a href="http://{{ _uservoice_key }}.uservoice.com/" title="Snowball Factory Support" target="_blank">Support</a></li>
                            <li><a href="{{ path('tweetpost_terms_of_use') }}" title="Terms of Use">Terms of Use</a></li>
                            <li><a href="{{ path('tweetpost_privacy_policy') }}" title="Privacy Policy">Privacy Policy</a></li>
                            <li><a href="http://totally.awe.sm/" title="Awe.sm Bot" target="_blank"><img src="/static/bundles/snowballfactorytweetpost/images/robot.png" alt="Awe.sm Bot" height="40" width="31" /></a></li>
                            <li>Copyright &#169; 2009-{{ 'now'|date('Y') }} <a href="http://snowballfactory.com/" title="Snowball Factory" target="_blank">Snowball Factory, Inc.</a> All Rights Reserved.</li>
                        </ul>
                    </nav>
                    <p id="disclaimer"><a href="{{ path('tweetpost_homepage') }}" title="TweetPost">TweetPo.st</a> is not affiliated in any way with <a href="http://twitter.com/" title="Twitter" target="_blank">Twitter</a> or <a href="http://facebook.com/" title="Facebook" target="_blank">Facebook</a>.</p>
                </div>
            </footer>

        </div>
        {% block javascripts %}
            <script type="text/javascript" src="http://yui.yahooapis.com/combo?3.5.0pr2/build/yui/yui-min.js"></script>
            {% javascripts '@SnowballFactoryTweetpostBundle/Resources/public/js/common.js' filter='?yui_js' output="js/tweetpost.js" %}
              <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}

            {{ facebook_initialize({'xfbml': true, 'cookie': true, 'async': true, 'status': true, 'fbAsyncInit': 'init();'}) }}

            <script src="http://tools.awe.sm/tweet-button/files/widgets.js" type="text/javascript" async="true"></script>

            {% include "GoogleBundle:Analytics:async.html.twig" %}
        {% endblock %}
    </body>
</html>
