{% extends 'SnowballFactoryTweetpostBundle::layout.html.twig' %}

{% block title %}TweetPo.st | User &raquo; Login{% endblock %}

{% block body %}

    <section id="bd-login" class="yui3-u-1">
        <header>
            <h3>Sign in to <a href="{{ path('tweetpost_homepage') }}" title="TweetPo.st" target="_blank">TweetPo.st</a></h3>
        </header>
        
        <p>Create a user on <a href="{{ path('tweetpost_homepage') }}" title="TweetPo.st" target="_blank">TweetPo.st</a> by connecting  <span id="fb-register">{{ facebook_login_button({'autologoutlink': 'false'}) }}</span></p>
        
        <form action="{{ path("tweetpost_user_authorize") }}" method="post" id="login">
            <fieldset>
                <div>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" autofocus="autofocus" required="required" />
                    <label for="username">Username</label>
                </div>

                <div>
                    <input type="password" id="password" name="_password" required="required" />
                    <label for="password">Password</label>
                </div>
                
                <div>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">Stay signed in</label>
                </div>

                <div>
                    <input type="submit" class="rounded button" name="Sign in" value="Sign in" />
                </div>
            </fieldset>
        </form>
    </section>

{% endblock %}
