{% extends 'SnowballFactoryTweetpostBundle::layout.html.twig' %}

{% block title %}TweetPo.st | User &raquo; Update your profile{% endblock %}

{% block body %}

    <header class="yui3-u-1">
        <p><a href="{{ path('tweetpost_homepage') }}" title="TweetPo.st">TweetPo.st</a> imports your profile from <a href="http://facebook.com/{{ user.username }}" title="{{ user.username }} on Facebook" target="_blank">Facebook</a> &mdash; When your profile changes on <a href="http://facebook.com/{{ user.username }}" title="{{ user.username }} on Facebook" target="_blank">Facebook</a> it will automatically be updated.</p>
    </header>

    <section id="bd-profile-twitter" class="yui3-u-1-3">
        <div>
            <h3>Connected as <a href="http://facebook.com/{{ user.username }}" title="{{ user.username }} on Facebook" target="_blank">{{ user.username }}</a></h3>
            <span>
                <img id="picture" src="https://graph.facebook.com/{{ user.username }}/picture?type=large" alt="{{ user.username }}" />
            </span>
        </div>

        {% if twitterUsers %}
        <div>
            <h3>Twitter Users</h3>
            <ul>
            {% for twitter in twitterUsers %}
                <li>
                    <a href="http://twitter.com/@{{ twitter.username }}" title="@{{ twitter.username }} on Twitter" target="_blank" class="black">@{{ twitter.username }}</a>
                    [<a href="{{ path('tweetpost_connection_twitter_disconnect', { 'id': twitter.id }) }}" title="Delete linked twitter user">delete</a>]
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if connections %}
        <div>
            <h3><a href="{{ path('tweetpost_connection_dashboard') }}" title="Manage TweetPo.st connections" class="black">Connections</a></h3>
            <ul>
            {% for connection in connections %}
                <li>
                    <a href="{{ path('tweetpost_connection_edit', { 'id': connection.id }) }}" title="Edit connection {{ connection.name }}" class="black">{{ connection.name }}</a>
                    [<a href="{{ path('tweetpost_connection_delete', { 'id': connection.id }) }}" title="Delete connection">delete</a>]
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div>
            <h3><a href="http://{{ _uservoice_key }}.uservoice.com/" title="Find help or suggest a feature" target="_blank">Help</a></h3>
            <ul>
                <li><a href="{{ path('tweetpost_connection_dashboard') }}" title="Manage tweetpo.st connections">Manage Connections</a></li>
                <li><a href="{{ path('tweetpost_user_delete') }}" title="Close your account">Close your account</a></li>
            </ul>
        </div>
    </section>

    <section id="bd-profile" class="yui3-u-2-3">
        <form action="{{ path('tweetpost_user_profile', { 'username': user.username }) }}" method="post">
            {{ form_widget(form) }}
            <input type="submit" name="Update" value="Update" class="rounded button" />
        </form>
    </section>

{% endblock %}
