{% extends 'SnowballFactoryTweetpostBundle::layout.html.twig' %}

{% block title %}TweetPo.st | User &raquo; Unauthorized{% endblock %}

{% block body %}

    <section id="bd-unauthorized" class="yui3-u-1">
        <header>
            <h3>Unauthorized!</h3>
        </header>
    </section>

{% endblock %}
