{% extends 'SnowballFactoryTweetpostBundle::layout.html.twig' %}

{% block title %}TweetPo.st | Connection Dashboard{% endblock %}

{% block body %}

    <section id="bd-dashboard" class="yui3-u-1">
        <header>
            <h2><a href="{{ path('tweetpost_connection_create') }}" class="rounded button" title="Create a tweetpost connection">New tweetpost connection</a></h2>
        </header>

        <ul>
        {% if connections %}
            {% for connection in connections %}
                <li>
                    <span class="connection">
                        <a href="{{ path('tweetpost_connection_edit', { 'id': connection.id }) }}" title="Edit tweetpost connection {{ connection.name }}">{{ connection.name }}</a>
                    </span>

                    <span class="actions">
                        <a href="{{ path('tweetpost_connection_toggle', { 'id': connection.id }) }}" class="rounded button" title="Toggle tweetpost connection">{% if connection.active %}Disable{% else %}Enable{% endif %}</a>
                        <a href="{{ path('tweetpost_connection_edit', { 'id': connection.id }) }}" class="rounded button" title="Delete tweetpost connection">Edit</a>
                        <a href="{{ path('tweetpost_connection_delete', { 'id': connection.id }) }}" class="rounded button" title="Delete tweetpost connection">Delete</a>
                    </span>
                </li>
            {% endfor %}
        {% endif %}
        </ul>

    </section>

{% endblock %}
