{% extends 'SnowballFactoryTweetpostBundle::layout.html.twig' %}

{% block title %}TweetPo.st | Connection Dashboard{% endblock %}

{% form_theme form _self %}


{% block generic_label %}
{% spaceless %}
    {% if required %}
        {% set attr = attr|merge({'class': attr.class|default('') ~ ' required'}) %}
    {% endif %}
    <label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>{{ label|trans({}, translation_domain)|raw }}</label>
{% endspaceless %}
{% endblock %}


{% block body %}

    <section id="bd-connections" class="yui3-u-1">
        <header>
            <h2>Update TweetPo.st connection</h2>
        </header>

        <form action="{{ path('tweetpost_connection_edit', { 'id': connection.id }) }}" method="post">

            {{ form_errors(form) }}

            <h3>Twitter</h3>
            <div>
                {{ form_widget(form.twitter, { 'read_only': true }) }} <span>{{ form_errors(form.twitter) }}</span>
            </div>

            <h3>Facebook</h3>
            <div>{{ form_widget(form.facebookId, { 'read_only': true }) }} <span>{{ form_errors(form.facebookId) }}</span></div>

            <h3>Connection</h3>
            <div>
                <ul>
                    <li>{{ form_widget(form.name) }} <span>{{ form_errors(form.name) }}</span></li>
                    <li>{{ form_widget(form.postLinks) }} {{ form_label(form.postLinks, 'If your tweet contains a link, post it as a link with a preview to your wall') }} <span>{{ form_errors(form.postLinks) }}</span></li>
                    <li>{{ form_widget(form.convertNames) }} {{ form_label(form.convertNames, 'Convert Twitter @usernames to real names') }} <span>{{ form_errors(form.convertNames) }}</span></li>
                    <li>{{ form_widget(form.actionLink) }} {{ form_label(form.actionLink, 'Add Twitter profile links to Facebook posts') }} <span>{{ form_errors(form.actionLink) }}</span><p>Add a "Follow me on Twitter" link under each of your posts on Facebook (next to "Comment" and "Like")</p></li>
                    <li>{{ form_widget(form.disableRetweet) }} {{ form_label(form.disableRetweet, 'Do not post retweets') }} <span>{{ form_errors(form.disableRetweet) }}</span></li>
                    <li>{{ form_widget(form.filterHashtag) }} {{ form_label(form.filterHashtag, 'Only post tweets that contain #fb') }} <span>{{ form_errors(form.filterHashtag) }}</span><p>You can always prevent a tweet from showing up on Facebook by adding <strong>!fb</strong></p></li>
                    <li>{{ form_widget(form.awesmTracking) }} {{ form_label(form.awesmTracking, 'Convert links to Awe.sm links') }} <span>{{ form_errors(form.awesmTracking) }}</span><div id="connection-awesm-key" class="hidden">{{ form_label(form.awesmApiKey, 'Awe.sm API Key') }} {{ form_widget(form.awesmApiKey) }} <span>{{ form_errors(form.awesmApiKey) }}</span></div></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>{{ form_label(form.name, 'Blacklist') }} {{ form_widget(form.blacklist) }} <span>{{ form_errors(form.blacklist) }}</span></li>
                </ul>
            </div>

            {{ form_rest(form) }}

            <div><input type="submit" name="Update" value="Update" class="rounded button" /></div>
        </form>
    </section>

{% endblock %}
