
body, #tweetpost, #tweetpost-body, div#tweetpost-content {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 100%;
    text-align: left;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: middle;
    background-color: #fff;
    color: #000;
}

h1, h2, h3, h4, h5, h6, a, legend, label, strong {
    font-weight: bold;
}

a {
    color: #81BEF7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    padding: 5px;
}

form, input, textarea {
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 10px;
    background: #fff;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(5%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

form {
    padding: 1em;
}

form, form div {
    margin: 4px;
}

form h3, form p {
    padding: 4px;
}

form ul {
    display: inline;
}

form ul li {
    list-style-type: none;
}

fieldset, legend, label {
    border: none;
    margin: 4px;
    padding: 4px;
}

legend {
    font-size: 108%;
}

input:hover, textarea:hover, select:hover, input:focus, textarea:focus, select:focus {
    border-color: #81BEF7;
}


label {
    display: inline-block;
    vertical-align: top;
}

textarea {
    line-height: 150%;
}

input[type="text"], input[type="password"], input[type="url"], input[type="email"], textarea, select {
    border: solid 1px #E5E5E5;
    display: inline-block;
    margin: 4px;
	  width: 24em
}

input[type="radio"], input[type="checkbox"] {
    display: inline-block;
    margin: 4px;
}

input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

.button {
		display: inline-block;
		margin: 0 0 15px 0;
		padding: 5px 10px 5px 10px;
		color: rgba(255,255,255,0.8);
		text-decoration: none;
		background: rgba(40,100,200,1);
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		box-shadow: rgba(15,60,130,1) 0 3px 0, inset rgba(255,255,255,0.05) 0 -1px 0, inset rgba(255,255,255,0.1) 0 1px 0;
		-moz-box-shadow: rgba(15,60,130,1) 0 3px 0, inset rgba(255,255,255,0.05) 0 -1px 0, inset rgba(255,255,255,0.1) 0 1px 0;
		-webkit-box-shadow: rgba(15,60,130,1) 0 3px 0, inset rgba(255,255,255,0.05) 0 -1px 0, inset rgba(255,255,255,0.1) 0 1px 0;
		position: relative;
		top: 2px;
		overflow: hidden;
		border: none;
		cursor: pointer;
		outline: none;
}

.button:after {
  	content: '';
  	width: 200%;
  	margin-left: -50px;
  	height: 100%;
  	position: absolute;
  	top: 50%;
  	left: 0;
  	background: none;
  	box-shadow: rgba(255,255,255,0.2) 0 1px 20px, inset rgba(0,0,0,0.2) 0 0 10px;
  	-moz-box-shadow: rgba(255,255,255,0.2) 0 1px 20px, inset rgba(0,0,0,0.2) 0 0 10px;
  	-webkit-box-shadow: rgba(255,255,255,0.2) 0 1px 20px, inset rgba(0,0,0,0.2) 0 0 10px;
}

.button:before {
  	content: '';
  	width: 50%;
  	height: 100px;
  	position: absolute;
  	top: 100%;
  	left: 25%;
  	border-radius:500px;
  	background: none;
  	box-shadow: rgba(255,255,255,0.5) 0 1px 20px;
  	-moz-box-shadow: rgba(255,255,255,0.5) 0 1px 20px;
  	-webkit-box-shadow: rgba(255,255,255,0.5) 0 1px 20px;
}

.button:hover {
  	background: rgba(45,115,230,1);
  	box-shadow: rgba(15,60,130,0.8) 0 3px 0, inset rgba(255,255,255,0.05) 0 -1px 0, inset rgba(255,255,255,0.1) 0 1px 0;
  	-moz-box-shadow: rgba(15,60,130,0.8) 0 3px 0, inset rgba(255,255,255,0.05) 0 -1px 0, inset rgba(255,255,255,0.1) 0 1px 0;
  	-webkit-box-shadow: rgba(15,60,130,0.8) 0 3px 0, inset rgba(255,255,255,0.05) 0 -1px 0, inset rgba(255,255,255,0.1) 0 1px 0;
}

.button:active {
  	background: rgba(40,100,200,0.8);
  	box-shadow: inset rgba(255,255,255,0.05) 0 -1px 0, inset rgba(255,255,255,0.1) 0 1px 0;
  	-moz-box-shadow: inset rgba(255,255,255,0.05) 0 -1px 0, inset rgba(255,255,255,0.1) 0 1px 0;
  	-webkit-box-shadow: inset rgba(255,255,255,0.05) 0 -1px 0, inset rgba(255,255,255,0.1) 0 1px 0;
  	top: 5px;
}

.rounded {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

.shadow {
    background: #fff;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(5%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

.blue {
    color: #81BEF7;
}

.black {
    color: #000;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

#tweetpost-content {
    width: 970px;
    margin: 1em auto;
}

#hd, #bd, #ft {
    padding: 4px;
}

#hd h1 {
    float: left;
    display: inline;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 1em;
}

#hd h2 {
    float: left;
    margin-top: 1.2em;
    margin-right: 0;
    padding: 0;
    font-size: 116%;
}

#hd ul li, #ft ul li {
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
}

#hd nav, #hd #authentication {
    display: inline-block;
    margin-top: .6em;
}

#hd #authentication ul, #hd #authentication ul li {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    text-align: right;
}

#hd #authentication a, #hd #authentication img {
    margin: 0;
    padding: 0px;
}

#hd #authentication li#fb-login, #hd #authentication li#fb-user-profile-pic, #ft #social li#fb-like, #bd span#fb-register {
    display: inline-block;
    vertical-align: middle;
}

#hd nav ul {
    margin: 0;
    overflow: hidden;
    display: inline;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
}

#hd nav li {
    background-color: #f0f0f0;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
    background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    border-right: 1px solid rgba(9, 9, 9, 0.125);
    -moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    position: relative;
    float: left;
    list-style: none;
}

#hd nav li:after {
    content: '.';
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(168,168,168,0.5)),color-stop(0.5,rgba(168,168,168,0)), to(rgba(168,168,168,0.5)));
    background-image: -moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image: -o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image: -ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    background-image: linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
    -moz-box-shadow: -1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
    -webkit-box-shadow: -1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
    box-shadow: -1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
    -moz-transition: 0.25s all;
    -webkit-transition: 0.25s all;
    -o-transition: 0.25s all;
    transition: 0.25s all;
}

#hd nav li:first-child {
    border-radius: 4px 0 0 4px;
}

#hd nav li:first-child:after, #hd nav li.selected:first-child:after {
    -moz-box-shadow: 1px 0 0 #a3a3a3,2px 0 0 #fff;
    -webkit-box-shadow: 1px 0 0 #a3a3a3,2px 0 0 #fff;
    box-shadow: 1px 0 0 #a3a3a3,2px 0 0 #fff;
    border-radius: 4px 0 0 4px;
}

#hd nav li:last-child {
    border-radius: 0 4px 4px 0;
}

#hd nav li:last-child:after, #hd nav li.selected:last-child:after {
    -moz-box-shadow: -1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -webkit-box-shadow: -1px 0 0 #a3a3a3,-2px 0 0 #fff;
    box-shadow: -1px 0 0 #a3a3a3,-2px 0 0 #fff;
    border-radius: 0 4px 4px 0;
}

#hd nav li:hover:after, #hd nav li.selected:after, #hd nav li:target:after, #hd nav li:active:after {
    opacity: 1;
}

#hd nav:hover li.selected:after, #hd nav:hover li:target:after, #hd nav li:active:after {
    opacity: 0;
}

#hd nav li.selected:hover:after, #hd nav li:target:hover:after, #hd nav li:active:after {
    opacity: 1 !important;
}

#hd nav li a {
    color: #000;
    display: inline-block;
    padding: 6px 18px 7px;
    position: relative;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
    z-index: 2;
    text-decoration: none !important;
    white-space: nowrap;
}

#hd nav a.home {
    background: url('/static/bundles/snowballfactorytweetpost/images/home.png') no-repeat center center;
    display: block;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 12px;
    text-indent: -9999px;
    width: 16px;
}

#hd #notifications {
    background: #f8fafc url('/static/bundles/snowballfactorytweetpost/images/notification.png') center no-repeat;
  	background-position: 15px 50%;
  	border: 2px solid #b5d4fe;
  	width: 96%;
  	margin: 1em auto;
    text-align: center;
    vertical-align: middle;
}

#hd #notifications h3 {
    overflow: hidden;
    width: auto;
}

#bd-example {
    background: url('/static/bundles/snowballfactorytweetpost/images/arrow_inactive.png') center no-repeat;
    text-align: center;
    vertical-align: middle;
}

#bd-signup {
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    margin-top: 1em;
}

#bd-signup h3 {
    display: inline;
    margin: 1em auto;
    padding: 5px;
}

#bd a {
    color: #000;
    font-weight: bold;
}

#bd a.button {
    color: #fff;
}

#bd-signup span#fb-register {
    margin-left: 15px;
    padding: 5px;
}

#bd-example img {
    padding: 10px 45px;
    text-align: center;
    margin: auto;
}

#bd-features ul {
    padding-left: 3em;
    padding-top: 1em;
}

#bd-features ul li {
    padding: 5px;
}

#bd-testimonials blockquote {
    display: block;
    background-color: #fff;
    background-position: 15px;
    background-repeat: no-repeat;
    padding-left: 80px;
    padding-top: 10px;
}

#bd-testimonials blockquote#mashable {
    background-image: url('/static/bundles/snowballfactorytweetpost/images/mashable.png');
}
#bd-testimonials blockquote#thenextweb {
    background-image: url('/static/bundles/snowballfactorytweetpost/images/thenextweb.png');
}
#bd-testimonials blockquote#insidefacebook {
    background-image: url('/static/bundles/snowballfactorytweetpost/images/insidefacebook.png');
}
#bd-testimonials blockquote#twi5 {
    background-image: url('/static/bundles/snowballfactorytweetpost/images/twi5.png');
}

#bd #bd-profile form ul {
    float: right;
    width: 100%;
}

#bd #bd-profile form {
  margin-top: 40px;
}

#bd #bd-profile form label {
    width: 6em;
}

#bd #bd-profile form div#user_birthday {
    display: inline-block;
}

#bd #bd-profile form div#user_birthday input {
    width: 20px;
}

#bd #bd-profile form div#user_birthday input#user_birthday_year {
    width: 40px;
}

#bd #bd-profile-twitter h3 a {
    margin: 5px;
}

#bd-profile-twitter div {
    margin: 2em;
}

#bd-profile-twitter ul li {
    list-style-type: none;
}

#bd-profile-twitter div img {
    margin: 1em;
}

#bd-connections div#twitter-public-user {
    margin-left: 4em;
}

#bd-connections li div, #bd-connections input[type="checkbox"], #bd-connections input[type="text"], #bd-connections select {
    margin-left: 2em;
    font-weight: bold;
}

#bd-connections li, #bd-connections li label {
  	padding: 1px;
  	margin: 1px;
  	vertical-align: middle;
}

#bd-connections li p {
    font-size: 85%;
    padding: 4px;
    padding-left: 2em;
    margin-left: 2em;
}

#bd-dashboard li span.connection {
    display: inline-block;
    width: 500px;
}

#bd-dashboard li span.actions {
    display: inline-block;
    padding-left: 20px;
}

#ft {
    margin-top: 10px;
    font-size: 85%;
    text-align: center;
}

#ft a {
    color: #000;
}

#ft nav, #ft p#disclaimer, footer nav img, #ft #social img {
    vertical-align: middle;
}
