{% extends "SnowballFactoryTweetpostBundle::layout.html.twig" %}

{% block title %}TweetPo.st | A smarter way to connect Twitter and Facebook{% endblock %}

{% block body %}

    <section id="bd-example" class="yui3-u-1 shadow rounded">
        <img src="{{ asset('bundles/snowballfactorytweetpost/images/example_tweet.png') }}" alt="Example Tweet" width="350" height="175" />
        <img src="{{ asset('bundles/snowballfactorytweetpost/images/example_facebook_post.png') }}" alt="Example Facebook Post" width="350" height="175" />
    </section>

    {% if not is_granted("ROLE_FACEBOOK") %}
    <section id="bd-signup" class="yui3-u-1">
        <h3><span class="blue">It's free!</span> Connect with Facebook to get started</h3>
        <span id="fb-register">{{ facebook_login_button({'autologoutlink': 'false'}) }}</span>
    </section>
    {% endif %}

    <article id="bd-features" class="yui3-u-1-2">
        <ul>
            <li>Supports posting to Facebook Profiles and Pages</li>
            <li>Manage multiple posting connections</li>
            <li>Post tweets as Facebook status updates</li>
            <li>Only post the tweets you specify to Facebook</li>
            <li>Post links you tweet on your Facebook</li>
            <li>Track links posted to Facebook with <a href="http://totally.awe.sm" title="awe.sm" target="_blank">awe.sm</a></li>
            <li>Change @mentions to real names</li>
            <li>Ignore @replies or retweets</li>
        </ul>
    </article>

    <aside id="bd-testimonials" class="yui3-u-1-2">
        <blockquote id="thenextweb" cite="http://thenextweb.com/2009/07/22/tweetpost-smarter-update-facebook-twitter/">"A nifty little tool that should make your life easier if you're a devoted Twitter user who also likes to update their Facebook." &#8212; <cite><a href="http://thenextweb.com/2009/07/22/tweetpost-smarter-update-facebook-twitter/" title="The Next Web" target="_blank">The Next Web</a></cite></blockquote>
        <blockquote id="mashable" cite="http://mashable.com/2009/05/25/twitter-to-facebook/">"Twitterers will love how TweetPo.st takes advantage of Facebook Connect for a variety of Twitter to Facebook goodness." &#8212; <cite><a href="http://mashable.com/2009/05/25/twitter-to-facebook/" title="Mashable" target="_blank">Mashable</a></cite></blockquote>
        <blockquote id="insidefacebook" cite="http://www.insidefacebook.com/2009/04/29/tweetface-is-a-more-powerful-way-to-update-facebook-from-twitter/">"Links to videos, articles and photos will now be visible to your Facebook friends... just like if you had shared them inside Facebook." &#8212; <cite><a href="http://www.insidefacebook.com/2009/04/29/tweetface-is-a-more-powerful-way-to-update-facebook-from-twitter/" title="Inside Facebook" target="_blank">Inside Facebook</a></cite></blockquote>
        <blockquote id="twi5" cite="http://www.twi5.com/tweetpost-a-smarter-way-to-update-facebook-from-twitter/5848/">"TweetPo.st has a slew of new features that help you have only the right Twitter updates sent to Facebook." &#8212; <cite><a href="http://www.twi5.com/tweetpost-a-smarter-way-to-update-facebook-from-twitter/5848/" title="TWI5" target="_blank">twi5.com</a></cite></blockquote>
    </aside>

{% endblock %}
