{% extends "SnowballFactoryTweetpostBundle::layout.html.twig" %}

{% block title %}TweetPo.st | Privacy Policy{% endblock %}

{% block body %}

    <article id="bd-privacy" class="yui3-u-1">
        <header>
            <h3><a href="{{ path('tweetpost_homepage') }}" title="TweetPo.st">TweetPo.st</a> Privacy Policy</h3>
        </header>

    	<p>At our core, Snowball Factory is a data company. But not in a creepy way. Our overarching goal is to map the relationships between the publishers of cool content, those who find that content interesting enough to share it with their friends, and the friends who enjoy what's been shared. We use the data we collect to help publishers strengthen these virtuous relationships and create more value for all involved.</p>
    	<p>(The below Privacy Policy is largely based on that of Automattic, which they were kind enough to make available under a Creative Commons Sharealike license. So, you are welcome to repurpose it for your own use. But if you do, be a good sport and shout out the team at Automattic with a link to <a href="http://wordpress.com" target="_blank">WordPress.com</a> somewhere on your site.)</p>
    	<p>Snowball Factory, Inc. ("<a href="http://snowballfactory.com/" title="Snowball Factory" target="_blank">Snowball Factory</a>") operates several websites including <a href="http://awe.sm/" title="Awe.sm" target="_blank">awe.sm</a>, <a href="{{ path('tweetpost_homepage') }}" title="TweetPo.st">tweetpo.st</a>, and <a href="http://fbshare.me/" title="FBShare.me" target="_blank">fbshare.me</a>. It is Snowball Factory's policy to respect your privacy regarding any information we may collect while operating our websites and services.</p>

    	<h4>Website Visitors</h4>
    	<p>Like most website operators, Snowball Factory collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. Snowball Factory's purpose in collecting non-personally identifying information is to better understand how Snowball Factory's visitors use its websites. From time to time, Snowball Factory may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its websites.</p>
    	<p>Snowball Factory also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users and for individuals interacting with various components of the awe.sm service deployed by customers as described below.</p>

    	<h4>awe.sm Visitors</h4>
    	<p>In order to help awe.sm customers deliver more value to their users, we collect data on sharing and consumption data driven through awe.sm. Specifically, we may capture the IP address, referring site, date and time of the request, browser type, and cookie identifier of users who share via an awe.sm-powered sharing interface (like fbshare.me) or who click an awe.sm-powered link or visit a page with awe.sm-powered tracking code.</p>
    	<p>This information is only made available to awe.sm customers for activity on links or pages associated with their awe.sm account and then only in aggregate non-personally-identifying form, except for potentially personally-identifiable profiles of a given awe.sm customer's content being shared by an individual with a given cookie identifier. However, a visitor can disable our ability to build this sharing profiles by deactivating cookies in their browser.</p>

    	<h4>awe.sm Customers</h4>
    	<p>All data awe.sm collects on your behalf is private to your account and will never be shared without your authorization. You can export the data, including mappings of links on any custom domain you control, at anytime. However, we cannot delete any data collected on your behalf and all data in our system may be used in an anonymized form for aggregate analysis as described below. You acknowledge and agree that Snowball Factory may retain copies of such collected data.</p>

    	<h4>Gathering of Personally-Identifying Information</h4>
    	<p>Certain visitors to Snowball Factory's websites choose to interact with Snowball Factory products in ways that require Snowball Factory to gather personally-identifying information. The amount and type of information that Snowball Factory gathers depends on the nature of the interaction.   In certain cases, you may have the option link your account to or sign into your account using third party social networking websites (collectively, the "Social Networks"), such as Facebook.  If you choose to sign in through these Social Networks, we use the information you have already provided to such Social Networks in registering for an account with such Social Networks and which you have allowed such Social Networks to share with Snowball Factory, including, but not limited to, your first name, your user profile picture, your friends and contacts list, pages, your gender, and the networks to which you belong (collectively, your "Submitted Information").  You expressly authorize us to collect and use your Submitted Information in connection with your use of the Services. You further acknowledge and agree that Snowball Factory may, but is not obligated to, maintain copies of your Submitted Information indefinitely, or delete any or all Submitted Information, at our sole discretion.</p>
    	<p>For example, we ask visitors who sign up for TweetPo.st to authenticate with their Facebook account. Those who engage in transactions with Snowball Factory â€“ by purchasing access to the awe.sm service, for example â€“ are asked to provide additional information, including as necessary the personal and financial information required to process those transactions. In each case, Snowball Factory collects such information only insofar as is necessary or appropriate to fulfill the purpose of the visitor's interaction with Snowball Factory. Snowball Factory does not disclose personally-identifying information other than as described below. And visitors can always refuse to supply personally-identifying information, with the caveat that it may prevent them from engaging in certain website-related activities.</p>
    	<p>We advise you to carefully read the terms of use and privacy policies of Social Networks (collectively, the "SNW Policies"). It is your responsibility to read and accept the respective SNW Policies prior to signing into your Account through such Social Networks.</p>

    	<h4>Aggregated Statistics</h4>
    	<p>Snowball Factory may collect statistics about the behavior of users of its services. For instance, awe.sm may monitor the best time of day to share links on Twitter. Snowball Factory may display this information publicly or provide it to others. However, Snowball Factory does not disclose personally-identifying information other than as described below.</p>

    	<h4>Protection of Certain Personally-Identifying Information</h4>
    	<p>Snowball Factory discloses potentially personally-identifying and personally-identifying information only to those of its employees, contractors and affiliated organizations that (i) need to know that information in order to process it on Snowball Factory's behalf or to provide services available at Snowball Factory's websites, and (ii) that have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be located outside of your home country; by using Snowball Factory's websites, you consent to the transfer of such information to them. Snowball Factory will not rent or sell potentially personally-identifying and personally-identifying information to anyone. Other than to its employees, contractors and affiliated organizations, as described above, Snowball Factory discloses potentially personally-identifying and personally-identifying information only when required to do so by law, or when Snowball Factory believes in good faith that disclosure is reasonably necessary to protect the property or rights of Snowball Factory, third parties or the public at large. If you are a registered user of a Snowball Factory service and have supplied your email address, Snowball Factory may occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date with what's going on with Snowball Factory and our products. We primarily use our various product blogs to communicate this type of information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us clarify or respond to your request or to help us support other users. Snowball Factory takes all measures reasonably necessary to protect against the unauthorized access, use, alteration or destruction of potentially personally-identifying and personally-identifying information.</p>

    	<h4>Cookies</h4>
    	<p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns. Snowball Factory uses cookies to help Snowball Factory identify and track visitors, their usage of Snowball Factory services, and their website access preferences. Snowball Factory visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using Snowball Factory's websites, with the drawback that certain features of Snowball Factory's websites may not function properly without the aid of cookies.</p>

    	<h4>Privacy Policy Changes</h4>
    	<p>Although most changes are likely to be minor, Snowball Factory may change its Privacy Policy from time to time, and in Snowball Factory's sole discretion. Snowball Factory encourages visitors to frequently check this page for any changes to its Privacy Policy. If you have an awe.sm account, you should also check your dashboard for alerts to these changes. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>

    	<h4>Contact Us</h4>
    	<p>If you have any questions about this policy or our site in general, please contact us at <a href="mailto:support@tweetpo.st">support@tweetpo.st</a>.</p>
    </article>

{% endblock %}
