{% extends "SnowballFactoryTweetpostBundle::layout.html.twig" %}

{% block title %}TweetPo.st | Terms of Service{% endblock %}

{% block body %}

    <article id="bd-tos" class="yui3-u-1">
        <header>
            <h3><a href="{{ path('tweetpost_homepage') }}" title="TweetPo.st">TweetPo.st</a> Terms of Service</h3>
        </header>

    	<p>The following terms and conditions govern all use of the tweetpo.st website (the "Website") and all content, services, and products available through the Website, including, but not limited to, the tweetpo.st Developer APIs ("Developer APIs") and any code we provide you to embed on your site ("Embeddable Code") (collectively, the "Service"). The Service is owned and operated by Snowball Factory, Inc. ("<a href="http://snowballfactory.com/" title="Snowball Factory" target="_blank">Snowball Factory</a>"). The Service is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, Snowball Factory's Privacy Policy) and procedures that may be published from time to time on this Site by Snowball Factory (collectively, the "Agreement").</p>
    	<p>Please read this Agreement carefully before accessing or using the Service. By completing the registration process and/or accessing or using any part of the Service, you (either an individual or a legal entity that you represent as an authorized employee or agent) ("you" or "You") are stating that you are eligible for an account to access the Service (an "Account") and that you agree to become bound by the terms and conditions of this Agreement. If you do not agree to all the terms and conditions of this Agreement, then you may not access the Service in any form. If these terms and conditions are considered an offer by Snowball Factory, acceptance is expressly limited to these terms. The Service is available to individuals who are at least 13 years old.</p>

    	<ol>
    	<li><h4>Intellectual Property.</h4>
    	<ul><li><p>Your access to the Service is licensed and not sold. This Agreement does not transfer from Snowball Factory to you any Snowball Factory or third party intellectual property.  Subject to the terms of this Agreement and upon your registration for an Account, Snowball Factory hereby grants you a revocable, non-exclusive, non-transferable Account enabling you to access and use the Service and the Website.</p></li>
    	<li><p>Except for the limited licenses expressly granted herein, Snowball Factory expressly reserves all right, title and interest in and to the Service, the content of the Website, and all processing, analytics, and other software and technology used by Snowball Factory in the provision of the Service (including, but not limited to, the Embeddable Code)(collectively, the "Snowball Factory Technology").  All content on the Website, including text, graphics, logos, icons, images, and video clips, is the exclusive property of Snowball Factory or its content suppliers and is protected by U.S. and international copyright laws.  The compilation (meaning the collection, arrangement, and assembly) of all content on the Snowball Factory website is the exclusive property of Snowball Factory and is also protected by U.S. and international copyright laws. The content on the Website may be used as a resource. Any other use, including the reproduction, modification, distribution, transmission, republication, display, or performance, of the content on the Website is strictly prohibited.</p></li>
    	<li><p>Snowball Factory, Tweetpo.st, the Tweetpo.st logo, awe.sm, the awe.sm logo, and all other trademarks, service marks, graphics and logos used in connection with awe.sm, or the Service are trademarks or registered trademarks of Snowball Factory or Snowball Factory's licensors. Other trademarks, service marks, graphics and logos used in connection with the Service may be the trademarks of other third parties. Your use of the Service grants you no right or license to reproduce or otherwise use any Snowball Factory or third-party trademarks.</p></li></ul></li>
    	<li><p><h4>Your awe.sm Account and credentials.</h4> If you create an Account on the Service, you are responsible for maintaining the security of your Account and login credentials (including, but not limited to, your username/password combination, Account API Key, or any users you invite to have access your Account pursuant to your paid service plan (each a "Permitted User")), and you are fully responsible for all activities that occur under your login credentials or any other actions taken in connection with the Account. You must not name your username, Account, or custom domain in a misleading or unlawful manner, including in a manner intended to trade on the name or reputation of others, and Snowball Factory, in its sole discretion, may change or remove any names that it considers inappropriate or unlawful, or otherwise likely to cause Snowball Factory liability. You must immediately notify Snowball Factory of any unauthorized uses of your Account, login credentials or any other breaches of security. Snowball Factory will not be liable for any acts or omissions by You, including any damages of any kind incurred as a result of such acts or omissions.</p></li>
    	<li><p><h4>Responsibility of Users.</h4> If you operate an Account, share materials through the Service, post material to a site containing our Embeddable Code, post comments, or otherwise make (or allow any third party to make) material available by means of the Service (any such material, "Content"), You are entirely responsible for the content of, and any harm resulting from, that Content. That is the case regardless of whether the Content in question constitutes text, graphics, an audio file, a video file, or computer software. By making Content available, you represent and warrant that:
    	<ul><li><p>the downloading, copying and use of the Content will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, of any third party;</p></li>
    	<li><p>if your employer has rights to intellectual property you create, you have either (i) received permission from your employer to post or make available the Content, including but not limited to any software, or (ii) secured from your employer a waiver as to all rights in or to the Content;</p></li>
    	<li><p>you have fully complied with any third-party licenses relating to the Content, and have done all things necessary to successfully pass through to end users any required terms;</p></li>
    	<li><p>the Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;</p></li>
    	<li><p>the Content is not spam, is not machine- or randomly-generated, and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawfully acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);</p></li>
    	<li><p>the Content does not contain threats or incite violence towards individuals or entities, and does not violate the privacy or publicity rights of any third party;</p></li>
    	<li><p>links created via the Service are not getting advertised via unwanted electronic messages such as spam links on newsgroups, email lists, other blogs and web sites, and similar unsolicited promotional methods;</p></li>
    	<li><p>the domain you use with the Service and the links you create via the Service are not named in a manner that misleads others into thinking that you are another person or company. For example, your Account's custom domain is not the name of a person other than yourself or company other than your own; and</p></li>
    	<li><p>you have, in the case of Content that includes computer code, accurately categorized and/or described the type, nature, uses and effects of the materials, whether requested to do so by Snowball Factory or otherwise.</p></li></ul></p>
    	<p>By submitting Content to Snowball Factory for sharing via awe.sm, you automatically grant (or warrant that the owner of such content has expressly granted) to Snowball Factory a royalty-free, non-exclusive, unrestricted, worldwide license to use, copy, reproduce, distribute, redistribute, modify, adapt, publish, edit, translate, transmit, publish and/or broadcast, publicly perform or display any such Content solely for the purposes of displaying and distributing links you have authorized Snowball Factory to share on your behalf, alone or as part of other works in any form, media, or technology whether by any means and in any media now known or hereafter developed and to sublicense such rights through multiple tiers of sublicenses.  You agree that you shall have no recourse against Snowball Factory for any alleged or actual infringement or misappropriation of any proprietary right in your communication to us.  You further acknowledge and agree that no compensation will be paid with respect to the use of your comments, as provided herein, that Snowball Factory may remove any comment at any time in its sole discretion.  Further, when you submit any Content on the Website, you authorize and direct Snowball Factory to make such copies thereof as Snowball Factory deems necessary in order to facilitate the posting and storage of such Content on the Website.  You may remove any Content you post from the Website at any time. If you choose to remove your Content, the license granted above will automatically expire and Snowball Factory will use reasonable efforts to disable such Content (or links thereto), however you acknowledge that Snowball Factory may retain archived copies of the Content and that caching or references to the Content may not be made immediately unavailable.</p>
    	<p>Without limiting any of those representations or warranties, Snowball Factory has the right (though not the obligation) to, in Snowball Factory's sole discretion (i) refuse or remove any content that, in Snowball Factory's reasonable opinion, violates any Snowball Factory policy or is in any way harmful or objectionable, or (ii) terminate or deny access to and use of the Service to any individual or entity for any reason, in Snowball Factory's sole discretion. Snowball Factory will have no obligation to provide a refund of any amounts previously paid.</p></li>
    	<li><p><h4>User Agreement.</h4>  You expressly agree: (i) that Snowball Factory has the right to suspend and/or terminate your Account and refuse any and all current or further use of the Service if Snowball Factory determines, in its sole discretion, that any information you provide is untrue, inaccurate, not current and/or incomplete; (ii) to protect your username, password and API Key at all times and to require each Permitted User to protect their respective username, password and API Key at all times; (iii) to notify Snowball Factory immediately of any unauthorized use of your account or any other need to deactivate your or any Permitted User's username and/or password due to security concerns; (iv) that Snowball Factory shall not be responsible for unauthorized access to or alteration of your data; (v) to maintain a valid authorized credit card with your Account; and (vi) that Snowball Factory retains the right to suspend your Account in the event the credit card on file is pending expiration and no other payment sources are available.  Your username and password are personal to you and under no circumstances may you allow any others to use your username and/or password.  We are not liable for any harm caused or related to the theft or misappropriation of your username and/or password, disclosure or your username and/or password, or your authorization of anyone else to use your username and/or password.  From time to time, Snowball Factory may find it necessary to access your account.  For instance, Snowball Factory may access your account for support, maintenance or security-related reasons.  In such event, Snowball Factory will, if possible, provide you notice of its intent to use your username and password to do so.   Regardless of whether such notice is provided, you acknowledge and consent to such access.  Furthermore, recognizing the global nature of the Internet, you agree to comply with all local rules regarding online conduct and acceptable content. Specifically, you agree to comply with all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside and to comply with any other local laws affecting the transmission or posting of content or affecting the privacy of persons.</p></li>
    	<li><p><h4>Restrictions.</h4>  You shall not: (i) use, or allow the use of, the Service, except pursuant to the limited rights expressly granted in this Agreement; (ii) use the Service in any manner that is inconsistent with user documentation, if any, supplied to you by Snowball Factory or inconsistent with Snowball Factory's standard security procedures, if any, accessible through your Account; (iii) attempt to reverse engineer, hack into, or compromise any aspect of the Snowball Factory Technology, or attempt to access data of any other customer of Snowball Factory; (iv) use, reproduce, modify or create derivative works of the Snowball Factory Technology; (v) remove, obscure or alter any legal notices, including notices of intellectual property rights appearing in or on any materials delivered to you by Snowball Factory; (vi) use, post, transmit or introduce any device, software or routine which interferes or attempts to interfere with the operation of the Service; (vii) reproduce, duplicate, copy, sell, trade, resell or exploit for any commercial purposes, any portion or use of, or access to, the Service; (viii) transfer, lease, lend, sublicense, use for timesharing or service bureau purposes, resell or otherwise distribute or allow third party access to all or any portion of the Snowball Factory Technology, including, but not limited to, by sharing your access username and/or password (except as allowed for Permitted Users); or (ix) use the Service to create links  to or embed Embeddable Code on any content that Snowball Factory, in its sole discretion, determines to be (a) abusive, libelous, defamatory or obscene, (b) fraudulent, deceptive, or misleading, (c) in violation of a copyright or trademark, other intellectual property right of another or (d) offensive or otherwise unacceptable to Snowball Factory.</p></li>
    	<li><h4>Payment and Renewal.</h4>
    	<ul><li><h5>General Terms.</h5><p>In registering for an Account, you may choose from various paid service plans to access the Service based on features and usage volume. By choosing a paid service plan you agree to pay Snowball Factory the monthly or annual subscription feeds indicated for that service plan (the "Fees"). Payments will be charged on a pre-pay basis on the day you sign up for a service plan (except as subject to any free-trial periods specified at the time of sign up) and will cover the use of that service plan for a monthly or annual subscription period as indicated. Service plan Fees are not refundable.  Snowball Factory expressly reserves the right to change the Fees at any time, upon notice to you.</p></li>
    	<li><h5>Automatic Renewal.</h5><p>Unless you notify Snowball Factory before the end of the applicable subscription period that you want to cancel or change a paid service plan, your service plan subscription will automatically renew and you authorize us to collect the then-applicable annual or monthly subscription fee for such service plan (as well as any taxes) using any credit card or other payment mechanism we have on record for you. Paid service plans can be cancelled or changed at any time in the Billing Details section of your Account Settings page.</p></li>
    	<li><h5>Usage Limits.</h5><p>You acknowledge and agree that the service plan you select with your Account is subject to certain usage limits (as specified in such service plan)(the "Usage Thresholds").  You agree to pay Snowball Factory for any usage of the Service exceeding the Usage Thresholds at the then-current rate charged by Snowball Factory, as determined by Snowball Factory in its sole discretion, including any applicable taxes (collectively, the "Overage Fees").  Any Overage Fees are non-refundable and will be invoiced on a monthly basis in arrears.  You expressly authorize Snowball Factory to collect any such Overage Fees upon delivery of the applicable invoice using any credit card or other payment mechanism Snowball Factory has on record.</p></li></ul></li>
    	<li><p><h4>Responsibility of Service Visitors.</h4> Snowball Factory has not reviewed, and cannot review, all of the material, including computer software, shared via the Service, and cannot therefore be responsible for that material's content, use or effects. By operating the Service, Snowball Factory does not represent or imply that it endorses the material to which the Service links or pages on which Embeddable Code is run, or that it believes such material to be accurate, useful or non-harmful. You are responsible for taking precautions as necessary to protect yourself and your computer system from viruses, worms, Trojan horses, and other harmful or destructive content. The Service may link to content that is offensive, indecent, or otherwise objectionable, ad well as content containing technical inaccuracies, typographical mistakes, and other errors. The Service may also link to material that violates the privacy or publicity rights, or infringes the intellectual property and other proprietary rights, of third parties, or the downloading, copying or use of which is subject to additional terms and conditions, stated or unstated. Snowball Factory disclaims any responsibility for any harm resulting from the use by visitors of the Service, or from any downloading by those visitors of content linked to via the Service.</p></li>
    	<li><p><h4>Copyright Infringement and DMCA Policy.</h4> As Snowball Factory asks others to respect its intellectual property rights, it respects the intellectual property rights of others. If you believe that material linked to by awe.sm violates your copyright, you are encouraged to notify Snowball Factory in the manner described below. Snowball Factory will respond to all such notices, including as required or appropriate by disabling all links to the infringing material. We will also contact the owner of the affected material so that they may make a counter notification. In the case of an Account or user that may infringe or repeatedly infringes the copyrights or other intellectual property rights of Snowball Factory or others, Snowball Factory may, in its discretion, terminate or deny access to and use of the Service. In the case of such termination, Snowball Factory will have no obligation to provide a refund of any amounts previously paid to Snowball Factory.</p>
    	<p>To file a notice of infringement with us, you must provide a formal communication (by regular mail or email) that includes the items specified below.
    	<ul><li><p>Identify in sufficient detail the copyrighted work that you believe has been infringed upon. This means a link to the original work or a description of what is being copied.</p></li>
    	<li><p>Identify the material that is infringing on the work in item #1. This means the awe.sm-powered links to the material.</p></li>
    	<li><p>Provide your contact information, preferably email and phone number.</p></li>
    	<li><p>Include the statement: "I have a good faith belief that use of the copyrighted materials described above as allegedly infringing is not authorized by the copyright owner, its agent, or the law."</p></li>
    	<li><p>Include the following statement: "I swear, under penalty of perjury, that the information in the notification is accurate and that I am the copyright owner or am authorized to act on behalf of the owner of an exclusive right that is allegedly infringed."</p></li>
    	<li><p>Send this information to:
    	<blockquote>DMCA Complaints<br />
    	Snowball Factory, Inc.<br />
    	621 N. Beverly Dr.<br />
    	Beverly Hills, CA 90210<br />
    	<a href="mailto:support@tweetpo.st">support@tweetpo.st</a>
    	</blockquote></p></li></ul></p></li>
    	<li><p><h4>Changes.</h4> Snowball Factory reserves the right, at its sole discretion, to modify or replace any part of this Agreement. It is your responsibility to check this Agreement periodically for changes. Your continued use of or access to the Service following the posting of any changes to this Agreement constitutes acceptance of those changes. Snowball Factory may also, in the future, offer new services and/or features through the Service (including the release of new tools and resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement.</p></li>
    	<li><p><h4>Termination.</h4> Snowball Factory may terminate your access to all or any part of the Service at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your awe.sm Account (if you have one), you may simply discontinue using the Service. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p></li>
    	<li><p><h4>Disclaimer of Warranties.</h4> The Service is provided "as is". Snowball Factory and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither Snowball Factory nor its suppliers and licensors, makes any warranty that the Service will be error free or that access thereto will be continuous or uninterrupted. You understand that you download from, or otherwise obtain content or services through, the Service at your own discretion and risk.  You specifically agree that Snowball Factory shall not be responsible for unauthorized access to or alteration of any data from your Account.</p></li>
    	<li><p><h4>Limitation of Liability.</h4> In no event will Snowball Factory, or its suppliers or licensors, be liable with respect to any subject matter of this Agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement or substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to Snowball Factory under this Agreement during the twelve (12) month period prior to the cause of action. Snowball Factory shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.</p></li>
    	<li><p><h4>General Representation and Warranty.</h4> You represent and warrant that (i) your use of the Service will be in strict accordance with the Snowball Factory Privacy Policy, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and (ii) your use of the Service will not infringe or misappropriate the intellectual property rights of any third party. In registering for a Account you represent that: (a) you are of legal age to form a binding contract and that you, or if you are registering on behalf of a person or entity, are authorized to register for the Service; (b) all information provided to Snowball Factory is true and accurate; (c) if you associate your Account with a custom domain name, that you own all right, title and interest such custom domain name; and (d) you are the authorized signatory of the credit or charge card provided to Snowball Factory to pay the Fees.</p></li>
    	<li><p><h4>Indemnification.</h4> You agree to indemnify, hold harmless and defend Snowball Factory, at your expense, against any and all third party claims, actions, proceedings, and suits brought against Snowball Factory or any of its subsidiaries, officers, directors, employees, agents or affiliates, and all related liabilities, damages, settlements, penalties, fines, costs or expenses (including, without limitation, reasonable attorneys' fees) incurred by Snowball Factory or any of its officers, directors, employees, agents or affiliates, arising out of or relating to (i) your breach of any term or condition of this Agreement, (ii) your use of the Service, (iii) your posting of any Content, or (iv) your unauthorized use of the Snowball Factory Technology.  In such a case, Snowball Factory will provide you with written notice of such claim, suit or action. You shall cooperate as fully as reasonably required in the defense of any claim. Snowball Factory reserves the right to assume the exclusive defense and control of any matter subject to indemnification by you.</p></li>
    	<li><p><h4>Waiver and Release.</h4>  YOU AGREE THAT NEITHER SNOWBALL FACTORY, NOR ITS OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, LICENSORS OR SUPPLIERS SHALL HAVE ANY LIABILITY TO YOU UNDER ANY THEORY OF LIABILITY OR INDEMNITY IN CONNECTION WITH YOUR USE OF THE WEBSITE, THE SERVICE, OR ANY SNOWBALL FACTORY TECHNOLOGY. YOU SPECIFICALLY ACKNOWLEDGE THAT SNOWBALL FACTORY SHALL NOT BE LIABLE FOR ANY CONTENT OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY AND THAT THE RISK OF HARM OR DAMAGE FROM THE FOREGOING RESTS ENTIRELY WITH YOU.  YOU HEREBY RELEASE AND FOREVER WAIVE ANY AND ALL CLAIMS YOU MAY HAVE AGAINST SNOWBALL FACTORY, ITS OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, LICENSORS OR SUPPLIERS (INCLUDING BUT NOT LIMITED TO CLAIMS BASED UPON THE NEGLIGENCE OF SNOWBALL FACTORY, ITS OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, LICENSORS OR SUPPLIERS) FOR LOSSES OR DAMAGES YOU SUSTAIN IN CONNECTION WITH YOUR USE OF THE WEBSITE, THE SERVICE, OR THE SNOWBALL FACTORY TECHNOLOGY.</p></li>
    	<li><p><h4>U.S. GOVERNMENT RIGHTS.</h4> If the use of the Service is being acquired by or on behalf of the U.S. Government or by a U.S. Government prime contractor or subcontractor (at any tier), in accordance with 48 C.F.R. 227.7202-4 (for Department of Defense (DOD) acquisitions) and 48 C.F.R. 2.101 and 12.212 (for non-DOD acquisitions), the Government's rights in the Service, including its rights to use, modify, reproduce, release, perform, display or disclose the Snowball Factory Technology, will be subject in all respects to the commercial license rights and restrictions provided in this Agreement.</p></li>
    	<li><p><h4>Miscellaneous.</h4> This Agreement constitutes the entire agreement between Snowball Factory and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of Snowball Factory, or by the posting by Snowball Factory of a revised version. Except to the extent applicable law, if any, provides otherwise, this Agreement, any access to or use of the Service will be governed by the laws of the state of California, U.S.A., excluding its conflict of law provisions, and the proper venue for any disputes arising out of or relating to any of the same will be the state and federal courts located in San Francisco County, California. Except for claims for injunctive or equitable relief or claims regarding intellectual property rights (which may be brought in any competent court without the posting of a bond), any dispute arising under this Agreement shall be finally settled in accordance with the Comprehensive Arbitration Rules of the Judicial Arbitration and Mediation Service, Inc. ("JAMS") by three arbitrators appointed in accordance with such Rules. The arbitration shall take place in San Francisco, California, in the English language and the arbitral decision may be enforced in any court. Any cause of action or claim you may have with respect to Snowball Factory must be commenced within one (1) year after the claim or cause of action arises.  The prevailing party in any action or proceeding to enforce this Agreement shall be entitled to costs and attorneys' fees. If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties' original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; Snowball Factory may assign its rights under this Agreement without condition. No agency, partnership, joint venture, or employment is created as a result of this Agreement and/or Snowball Factory's Privacy Policy and you do not have any authority of any kind to bind Snowball Factory in any respect whatsoever.   This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.  No provisions of this Agreement are intended, nor will be interpreted, to provide or create any third party beneficiary rights or any other rights of any kind in any user, client, customer, affiliate, or any party hereto or any other person unless specifically provided otherwise herein, and except as so provided, all provisions hereof will be personal solely between the parties to this Agreement; except that Sections 11, 12, 14, and 15 are intended to benefit Snowball Factory and its officers, directors, employees, agents, licensors, and suppliers. Snowball Factory may assign its rights and duties under this Agreement to any party at any time without notice to you.</p></li></ol>

    </article>

{% endblock %}
